<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="/static/images/icon.ico">
    <!-- favicon ends --->
    <!-- - LOAD FILES-->
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/font-awesome.min.css">
    <script src="scripts/jquery.min.js"></script>
    <!-- CSS-->
    <link rel="stylesheet" href="/static/styles/form-elements.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/main.css"><script src="https://kit.fontawesome.com/e6bee6f630.js" crossorigin="anonymous"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--if lt IE 9-->
  </head>
  <body>
    <!-- Top content-->
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
              <div style="font-size:100px;color:white">
                <h1>Junior QS</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="bg-primary text-center"><span id="errMsg"></span></div>
              <div class="form-bottom">
                <form id="loginForm" action="{{url_for('register')}}" method="POST">
                  <div class="form-group" style="display:flex">
                    <label class="sr-only" for="firstname">First Name</label><i class="fas fa-user" style="font-size:1.5rem;margin:1.5rem"></i>
                    <input class="form-control checkField" id="firstname" type="text" name="firstname" placeholder="First Name">
                  </div>
                  <div class="form-group" style="display:flex">
                    <label class="sr-only" for="lastname">Last Name</label><i class="fas fa-user" style="font-size:1.5rem;margin:1.5rem"></i>
                    <input class="form-control checkField" id="lastname" type="text" name="lastname" placeholder="Last Name">
                  </div>
                  <div class="form-group" style="display:flex">
                    <label class="sr-only" for="username">Username</label><i class="fas fa-user" style="font-size:1.5rem;margin:1.5rem"></i>
                    <input class="form-control checkField" id="username" type="text" name="username" placeholder="Username">
                  </div>
                  <div class="form-group" style="display:flex">
                    <label class="sr-only" for="email">E-mail</label><i class="fas fa-at" style="font-size:1.5rem;margin:1.5rem"></i>
                    <input class="form-control checkField" id="email" type="email" name="email" placeholder="Email">
                  </div>
                  <div class="form-group" style="display:flex">
                    <label class="sr-only" for="password">Password</label><i class="fas fa-lock" style="font-size:1.5rem;margin:1.5rem"></i>
                    <input class="form-control checkField" id="password" type="password" name="password" placeholder="Password">
                  </div>
                  <button class="btn" type="submit">Sign Up</button>
                  <button class="btn" type="button" onclick="window.location.href='login'">Log In</button>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center" style="color:white"><a class="text-primary" href="http://juniorqs.herokuapp.com/" target="_blank">Junior QS</a> &copy;(2020)</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="/scripts/main.js"></script>
    <script src="/scripts/gquery.backstretch.min.js"></script>
    <!-- Javascript--->
  </body>
</html>