<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="/images/icon.ico">
    <!-- favicon ends --->
    <!-- - LOAD FILES-->
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <!-- CSS-->
    <link rel="stylesheet" href="/static/styles/form-elements.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><script src="https://kit.fontawesome.com/e6bee6f630.js" crossorigin="anonymous"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--if lt IE 9-->
  </head>
  <body>
    <!-- Top content-->
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
              <div style="font-size:100px; color: white">
                <h1>Junior QS</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              {%with messages= get_flashed_messages(with_categories=true)%}
             
                {% if messages %}
                  {%for category, message in messages%}
                    <div class="alert alert-{{category}}">
                      {{message}}
                    </div>
                  {%endfor%}
                {%endif%}
              {%endwith%}
              <div class="form-bottom">
                <form id="loginForm" action="{{url_for('login')}}" method="POST">
                  {{ form.hidden_tag() }}
                  <div class="form-group" style="display:flex">
                    <label>{{ form.email.label(class="sr-only") }}<i class="fas fa-at" style="font-size:1.5rem;margin:1.5rem"></i></label>
                    {{ form.email(class="form-control checkField", autocomplete="off")}}
                  </div>
                  <div class="form-group" style="display:flex">
                    <label>{{ form.password.label(class="sr-only") }}<i class="fas fa-user" style="font-size:1.5rem;margin:1.5rem"></i></label>
                    {{ form.password(class="form-control checkField", autocomplete="off")}}
                  </div>
                  <div style="text-align: center;">
                    {{ form.submit_login(class='btn btn-primary')}}
                  </div>
                  <div style="text-align: center; color: #f5f5f5;"><small>Don't have an account yet? <a href="{{ url_for('login') }}" style="text-decoration: none;color: rgb(128, 26, 0);"><strong>Sign Up</strong></a></small></div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center" style="color:white"><a class="text-primary" href="http://juniorqs.herokuapp.com/" target="_blank">Junior QS</a> &copy;(2020)</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <!-- Javascript--->
  </body>
</html>